@import '@sweetalert2/theme-borderless/borderless.scss';
@import "@flaticon/flaticon-uicons/css/all/all";

// Estilos personalizados
.rule-card {
  background-color: #243B55;
  color: #fff;
}

.fact-card {
  background-color: #1A2B41;
  color: #fff;
}

li {
  &:hover {
    background-color: #1A2B41;
    color: #fff;
    cursor: pointer;
  }
}

input[type="text"] {
  &:focus {
    border: 2px solid #0B78C9;
  }
}

input[id="password"] {
  &:focus {
    border: 2px solid #0B78C9;
  }
}

button[type="submit"] {
  background-color: #0B78C9;
  &:hover {
    background-color: #094667;
  }
}

// Código SCSS existente
$primary-color: #091d2b;
$secondary-color: #103452;
$tertiary-color: #eef8fb;

body {
  margin: 0;
  color: $tertiary-color;
  font-family: "Fira Code Regular" !important;
}

.container{
  background-color: #0b2934;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cards {
  width: 88%;
  background-color: #0b2934;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-exit {
  width: 85%;
  background-color: #0b2934;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rule-card {
  background-color: $secondary-color;
  max-width: 530px;
  margin: 0 auto;
  padding: 20px 30px;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: calc(50% - 5px);
  float: right;
}

.fact-card {
  background-color: $secondary-color;
  max-width: 530px;
  margin: 0 auto;
  padding: 20px 30px;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: calc(50% - 5px);
  float: left;
}

.login-card {
  background-color: $secondary-color;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: calc(50% - 5px);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border-radius: 2px;
  background-color: #093152;
  margin: 20px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.rule-content {
  max-width: 460px;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
}

.buttons-container {
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.buttom-search-device{
  margin-left: auto;
  //float: right;
  //margin-left: 10px;
  background-color: $secondary-color;
  color: rgb(228, 228, 228);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

form {
  display: flex;
  margin-top: 20px;
  //margin-bottom: 20px;

  input[type="text"] {
    border: 1px solid #35596c !important;
    border-radius: 5px !important;
    background-color: #0b2934;
    color: white;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    max-height: 40px;
  }

  input[type="password"] {
    border: 1px solid #35596c !important;
    border-radius: 5px !important;
    background-color: #0b2934;
    color: white;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    max-height: 40px;
  }

  button[type="submit"] {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  
  button[type="submit"]:disabled {
    background-color: $tertiary-color;
    cursor: not-allowed;
    
  }

  .large-button {
    background-color: $primary-color;
    color: white;
    border: none;
    width: 60px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    max-height: 60px;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

// Not found page

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-color;
  color: $tertiary-color;
  text-align: center;

  &__title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__message {
    font-size: 1.2rem;
  }

  &__buttom {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

// get started form

$getstarted-primary-color: #0b2934;
$getstarted-secondary-color: #103452;
$getstarted-tertiary-color: #091d2b;

.getstarted-form {
  display: flex;
  justify-content: space-between;
}

.getstarted-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.getstarted-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

label {
  color: white;
}

input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.getstarted-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: $getstarted-primary-color;
  color: white;
  border: none;
  border-radius: 4px;
}

body {
  background-color: $getstarted-secondary-color;
}

